*
{
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

body
{
/*   background: linear-gradient(to right, #fd746c, #ff9068); */

  font-family: "Arial Narrow", Arial, sans-serif;
}

img
{
  width: 100%;
  height: 100%
}

.header{
    height:100px;
    width:90%;
    position:absolute;
    z-index:2;
    margin-top:20px;
    margin-left:60px;
    padding-right:5px;

}

button,
button::after {
  -webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
  -o-transition: all 0.3s;
	transition: all 0.3s;
}
a{
    text-decoration:none;
    list-style:none;
    position:relative;
    color:#fff;
    height:100px;
    width:100px;
}
.btn-2 ,a:hover{
    color:#2ecc71
}
button {
  background: none;
  border: 3px solid #fff;
  border-radius: 5px;
  color: #fff;
  display: block;
  font-size: 1.2em;
  font-weight: bold;
  margin: 1em ;
  cursor:pointer;
  padding:1em 2em;
  position: relative;
  text-transform: uppercase;
}

button::before,
button::after {
  background: #fff;
  content: '';
  position: absolute;
  z-index: -1;
}

button:hover a{
  color: #2ecc71;
}
.btn-2::after {
  height: 100%;
  left: 0;
  top: 0;
  width: 0;
}

.btn-2:hover:after {
  width: 100%;
}

.home{
float:left;
}
.contact_us{
float:right;
}


#slider .slider-container {
    position: absolute;
    width:100%;
    height: 100%;
}


#slider:after
{
    right: 0px;
    left: auto;
    -webkit-transform: skew(8deg) rotate(3deg);
    -ms-transform: skew(8deg) rotate(3deg);
    -transform: skew(8deg) rotate(3deg)
}

#slider input{display: none}

#slider .slider-container
{
    position:relative;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden
}

#slider #slides
{
    position: absolute;
    width: 300%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
    -webkit-animation: slider 26s infinite;
    animation: slider 26s infinite
}

#slider #slides:hover
{
    -webkit-animation-play-state: paused;
    animation-play-state: paused
}

#slider #slides .slide
{
    position: relative;
    width: 33.33333333%;
    height: 100%;
    float: left;
    overflow: hidden
}


#slider #slides .slide .caption
{
  width: 40%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
/*background: linear-gradient(to right, rgba(62,132,46,1) 0%, rgba(11,56,0,0.88) 26%, rgba(11,56,0,0.69) 70%);  color: #fff;
  */
  padding: 20px 4%;
  color:white;
  font-weight: 900;
}

#slider #slides .slide .caption h2
{
  top:200;
  font-size: 200%;
  line-height: 150%;
  position: relative
}

#slider #slides .slide .caption p,h2
{
  top:200;
  font-size: 140%;
  line-height: 150%;
  position: relative
}

#slider #slides .slide .caption p:before,
#slider #slides .slide .caption p:after
{
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  z-index: 10;
  border-color: #FD756C;
  border-style: solid
}

#slider #slides .slide .caption p:before
{
  border-width: 2px 0 0 2px;
  top: -5%;
  left: -5%
}

#slider #slides .slide .caption p:after
{
  border-width: 0 2px 2px 0;
  bottom: -5%;
  right: -5%
}

#slider .timeline
{
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 0;
    background-color: #f5f5f5;
    -webkit-animation: timeline 26s infinite;
    animation: timeline 26s infinite
}

#slider #slides:hover ~ .timeline
{
    -webkit-animation-play-state: paused;
    animation-play-state: paused
}

/*--- Start Slider animation ---*/
@-webkit-keyframes slider
{
    0%, 25%, 100%{left: 0}

    30%, 55%{left: -100%}

    60%, 85%{left: -200%}
}

@keyframes slider
{
    0%, 25%, 100%{left: 0}

    30%, 55%{left: -100%}

    60%, 85%{left: -200%}
}

@-webkit-keyframes timeline
{
    0%, 30%, 60%, 100%{width: 0}

    25%, 55%, 85%{width: 100%}
}

@keyframes timeline
{
    0%, 30%, 60%, 100%{width: 0}

    25%, 55%, 85%{width: 100%}
}

@media screen and (max-width: 480px)
{
  #slider #slides .slide .caption
  {
    width: 100%;
    height: auto;
    top: auto;
    bottom: 0;
    padding: 20px 8%
  }

  #slider #slides .slide .caption p{font-size: 100%}
}
/*--- End Slider animation ---*/

 #map {
        width: 380px;
        height: 150px;
        background-color: grey;
      }
.footer-distributed{
  background-color: #292c2f;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  height: 320px;
  text-align: left;
  font: bold 16px sans-serif;
  padding: 55px 50px;
  position: absolute;
  bottom: -320px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
  display: inline-block;
  vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
  width: 40%;
}

/* The company logo */

.footer-distributed h3{
  color:  #ffffff;
  font: normal 36px 'Cookie', cursive;
  margin: 0;
}

.footer-distributed h3 span{
  color:  #5383d3;
}

/* Footer links */

.footer-distributed .footer-links{
  color:  #ffffff;
  margin: 20px 0 12px;
  padding: 0;
}

.footer-distributed .footer-links a{
  display:inline-block;
  line-height: 1.8;
  text-decoration: none;
  color:  inherit;
}

.footer-distributed .footer-company-name{
  color:  #8f9296;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center{
  width: 35%;
}

.footer-distributed .footer-center i{
  background-color:  #33383b;
  color: #ffffff;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
  font-size: 17px;
  line-height: 38px;
}

.footer-distributed .footer-center p{
  display: inline-block;
  color: #ffffff;
  vertical-align: middle;
  margin:0;
}

.footer-distributed .footer-center p span{
  display:block;
  font-weight: normal;
  font-size:14px;
  line-height:2;
}

.footer-distributed .footer-center p a{
  color:  #5383d3;
  text-decoration: none;;
}


/* Footer Right */

.footer-distributed .footer-right{
  width: 20%;
}

.footer-distributed .footer-company-about{
  line-height: 20px;
  color:  #92999f;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
}

.footer-distributed .footer-company-about span{
  display: block;
  color:  #ffffff;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px;
}

.footer-distributed .footer-icons{
  margin-top: 25px;
}

.footer-distributed .footer-icons a{
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color:  #33383b;
  border-radius: 2px;

  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;

  margin-right: 3px;
  margin-bottom: 5px;
}
