<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='crop.css')}}">
</head>
<body>
	<script type="text/javascript">

      // Menu-toggle button

      $(document).ready(function() {
            $(".menu-icon").on("click", function() {
                  $("nav ul").toggleClass("showing");
            });
      });

      // Scrolling Effect

      $(window).on("scroll", function() {
            if($(window).scrollTop()) {
                  $('nav').addClass('black');
            }

            else {
                  $('nav').removeClass('black');
            }
      })
	</script>
<div class="main">
<div class="slideshow-container">

<div class="mySlides fade">
  <div class="numbertext"></div>
    <img src="/static/images/stat1.png" style="width:100%">
  <div class="text"></div>
</div>

<div class="mySlides fade">
  <div class="numbertext"></div>
  <img src="/static/images/stat2.png" style="width:100%">
</div>

<div class="mySlides fade">
  <div class="numbertext"></div>
  <img src="/static/images/stat3.png" style="width:100%">
</div>
<div class="mySlides fade">
  <div class="numbertext"></div>
  <img src="/static/images/stat4.png" style="width:100%">
  </div>
<div class="mySlides fade">
  <div class="numbertext"></div>
  <img src="/static/images/stat5.png" style="width:100%">
</div>
<a class="prev" onclick="plusSlides(-1)">&#10094;</a>
<a class="next" onclick="plusSlides(1)">&#10095;</a>

</div>
<br>
<!--
<div style="text-align:center">
  <span class="dot" onclick="currentSlide(1)"></span> 
  <span class="dot" onclick="currentSlide(2)"></span> 
  <span class="dot" onclick="currentSlide(3)"></span> 
</div>
-->
<script>
var slideIndex = 1;
showSlides(slideIndex);

function plusSlides(n) {
  showSlides(slideIndex += n);
}

function currentSlide(n) {
  showSlides(slideIndex = n);
}

function showSlides(n) {
  var i;
  var slides = document.getElementsByClassName("mySlides");
  var dots = document.getElementsByClassName("dot");
  if (n > slides.length) {slideIndex = 1}    
  if (n < 1) {slideIndex = slides.length}
  for (i = 0; i < slides.length; i++) {
      slides[i].style.display = "none";  
  }
  for (i = 0; i < dots.length; i++) {
      dots[i].className = dots[i].className.replace(" active", "");
  }
  slides[slideIndex-1].style.display = "block";  
  dots[slideIndex-1].className += " active";
}
</script>
</div>
<ul>
  <li><a href="{{url_for('water')}}">Crops Information</a></li>
  <li><a href="{{url_for('cropdist')}}">More District Information</a></li>
  <li><a href="https://drive.google.com/drive/folders/18BMOAt0Aqtb8Dx9jJJKnkM3u4ycnT9JU?usp=sharing">Datasets</a></li>
  <li style="float:right"><a href="{{url_for('contact')}}">Contact us</a></li>
</ul>
</body>
</html>