<html>
<head>
    <meta name="keywords" content="footer, address, phone, icons" />
<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">

    <link href="http://fonts.googleapis.com/css?family=Cookie" rel="stylesheet" type="text/css">
    
            <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='demo.css')}}">
</head>

       <body>
        <div class="header">
                <div class="home">
                    <button class="btn-2"><a href="{{url_for('h1')}}">HOME</a></button>
                </div>
                <div class="contact_us">
                    <button class="btn-2" ><a href="{{url_for('contact')}}">CONTACT US </a></button>
                </div>
            </div>

                <div id="slider">
                    <div class="slider-container">

                        <div id="slides">
                            <div class="slide">
                                <img src="/static/f1.jpg">
                                <div class="caption">
                                    <h2>“Farming is not just a job, it’s a way of life.”</h2><br><br>
                                    <p>– can help combat hunger and poverty and contribute to healthy food systems. It can also play a role in protecting the environment and managing natural resources in a sustainable way.</p>

                                </div>
                            </div>
                            <div class="slide">
                                <img src="/static/f3.jpg">
                                <div class="caption">
                                    <h2>“I believe in the future of agriculture, with a faith born not of words but of deeds.”</h2><br><br>
                                    <p>-Factory farming came about from a moral race to the bottom, with corporations vying against each other to produce more and bigger animals with less care at lower cost.</p>
                                </div>
                            </div>
                            <div class="slide">
                                <img src="/static/f4.jpg">
                                <div class="caption">
                                    <h2>“To most people, this is just dirt. To a farmer, it is potential.”</h2><br>
                                    <p>- farmer who ekes out a living from a farm on poor land, typically without hesitation but pure skill.</p>
                                </div>
                            </div>
                            <div class="slide">
                                <img src="/static/f5.jpg">
                                <div class="caption">
                                    <h2>“To everything there is a season and a time to every purpose under the heaven….a time to be born & a time to die; a time to plant and a time to pluck up that which is planted.”</h2><br>
                                    <p>- important as they are the critical component in rebuilding local food economies,all plants dont grow in same season.</p>
                                </div>
                            </div>
                                                    
                            <div class="slide">
                                <img src="/static/images/bg5.jpg">
                                <div class="caption">
                                    <h2>“Farming looks mighty easy when your plow is pencil and you're a thousand miles from a corn fields.”</h2><br>
                                    <p>-Connection to the Land. In many parts of the world, people depended on rain, rich soil, and the environment around them; farmers have a deep understanding and connection to nature.Work is not easy,it is farmers who make there job look easy.</p>
                                </div>
                            </div>
                        </div>
                        <span class="timeline"></span>
                <!-- End Timeline -->
                     </div>
                </div>


<footer class="footer-distributed">

            <div class="footer-left">

                <h3>Kri<span>shi</span></h3>

                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2667.680475005079!2d73.12669019228422!3d18.990180089056576!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7e866de88667f%3A0xc1c5d5badc610f5f!2sPillai+College+of+Engineering%2C+New+Panvel!5e0!3m2!1sen!2sin!4v1556426505270!5m2!1sen!2sin" width="380" height="200" frameborder="0" style="border:0" allowfullscreen></iframe>

                <p class="footer-company-name">Krishi Yield Predictor &copy; 2019</p>
            </div>

            <div class="footer-center">

                <div>
                    <i class="fa fa-map-marker"></i>
                    <p><span>PCE, New Panvel</span> Mumbai, Maharastra</p>
                </div>

                <div>
                    <i class="fa fa-phone"></i>
                    <p>+91 123 4567890</p>
                </div>

                <div>
                    <i class="fa fa-envelope"></i>
                    <p><a href="mailto:divyesh@company.com">krishikendra@company.com</a></p>
                </div>

            </div>

            <div class="footer-right">

                <p class="footer-company-about">
                    <span>About the site</span>
                    The primary objective of the website is to come up with a tool just to help farmers have an easier experience and time at farming. This can prove to be the new age farming aid that promises a better future and farming conditions for farmers.
                    
                    
                </p>

                <div class="footer-icons">

                    <a href="https://www.facebook.com/spartan.dr"><i class="fa fa-facebook"></i></a>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-linkedin"></i></a>
                    <a href="#"><i class="fa fa-github"></i></a>

                </div>

            </div>

        </footer>



</body>
</html>