<!DOCTYPE html>
<html>
<head>
	 <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='dist.css') }}">
</head>

<body>
	<h1><div class="header1">District wise Information (Sangli)</div></h1>
	<div class="stats-left">
	<p>Click on the following districts in the map of Maharashtra to obtain information</p>
	<ul style="list-style-type:square;">
		<li>Nashik</li>
		<li>Kolhapur</li>
		<li>Satara</li>
		<li>Solapur</li>
		<li>Sangli</li>
	</ul>
</div>
<div class="stats-right">
<table>
  <tr>
    <th colspan="2">Sangli District</th>
  </tr>
  <tr>
    <td>Area</td>
    <td>857800 Hectares</td>
  </tr>
  <tr>
    <td>Elevation</td>
    <td>549m (1,801 ft)</td>
    
  </tr>
  <tr>
    <td>Annual Temperature(Avg)</td>
    <td>24.6°C</td>
    
  </tr>
  <tr>
    <td>Annual Rainfall(Avg)</td>
    <td>750mm-950mm</td>
    
  </tr>
  <tr>
    <td>Rivers</td>
    <td>Krishna, Warana, Yerala, Manganga, Nanni, Agrani, Bor</td>
  </tr>
  <tr>
    <td>Population</td>
    <td>2,820,575(2011 census)</td>
   
</tr>
<tr>
    <td colspan="2">The Sangli district is located at the extreme south ofthe state and bordering between the States of Maharashtra and Karnataka. The district is surrounded by Satara and Solapur districts in the north, Ratnagiri district in the north west and Kolhapur district in the west and south west Belgaum and Bijapur districts of Karnataka. Therefore the district is having the culture of two states. It is known as the sugar bowl of India due to its high sugarcane productivity. Sangli District is one of the most fertile and highly developed districts in Maharashtra. The District is very popular as a political power house in the state. Sangli District has provided many popular politicians and bureaucrats until now. Sangli has a rich history and cultural heritage. People often refers to Sangli District as the Heaven of Farmers.

</td>
</tr>
</table>		
</div>
<div class="map1">
<img src="/static/images/maha.jpg" usemap="#image-map">
<map name="image-map">
     <area target="" alt="nas"  href="{{url_for('nas')}}" coords="131,149,239,219" shape="rect">
    <area target="" alt="kol"  href="{{url_for('kol')}}" coords="157,495,235,570" shape="rect">
    <area target="" alt="sol"  href="{{url_for('sol')}}" coords="259,376,366,451" shape="rect">
    <area target="" alt="sat"  href="{{url_for('sat')}}" coords="147,399,236,446" shape="rect">
    <area target="" alt="sang" href="{{url_for('san')}}" coords="182,460,313,491" shape="rect">
</map>
</div>
